@model SearchViewModel

<table asp-controller ="Appointments" asp_action ="Search" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apt_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SearchResults!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apt_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HospitalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
            </tr>
        }
    </tbody>
</table>